* {
  margin: 0;
  padding: 0;
}




.first-box {
  border: 1px solid black ;
  width: 10vw;
}
.second-box {
  border: 1px solid black ;
  width: 10vw;



}
.third-box {
  border: 1px solid black ;
  width: 10vw;


}
  
  
  
  
  