* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #977E6B;
  font-family: 'Courier New', Courier, monospace;

}

.first-box ,.second-box, .third-box {
  border: 1px solid black ;
  width: 10vw;
  border-radius: 4px;

}
.body-bg {
  background-color: #F7F8F7;
}
.gaming-body {
  height: 20vh;
  background-color: #F7F8F7;
}

.test-1 {
  border: 1px solid black;
  box-shadow: 5px 9px;
}
.photo-size {
  height: 25vh;
}

