body {
    font-family: 'Courier New', Courier, monospace;
    /* color: #F8F5F6; */
    background-color: #977E6B;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.preloader {
    background: #F7F8F7 url(../img/preloader.gif) no-repeat center center;
    background-size: 100%;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;

}
span {
    color: #484345;
    /* color: #AD9EB0; */
}

.dark-on-white {
    color: #AD9EB0;
}

.navbar {
    transition: top 0.3s;
    position: fixed;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.4s;
    height: 2px;
    width: 100%;
    background-color: #4B3E3E;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.sidebar-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    background-color: #4B3E3E;
    margin: 20px 0;
}

.line {
    border-right: 2px solid #AD9EB0;
}

.test {
    display: flex;
    align-items: center;
}

.first-intro {
    font-weight: bolder;
    font-size: 15px;
}

.second-intro {
    font-weight: bolder;
    font-size: 45px;
}

.hero-paragraaf {
    font-weight: bolder;
}

.about {
    height: 75vh;
    background-color: #F7F8F7;
    color: #4B3E3E;
    font-size: small;
    font-weight: bold;
}

.skills-css {
    height: 75vh;
    background-color: #484345;
    color: #AD9EB0;
    font: small;
    font-weight: bold;
}
.progress-bar  {
    background-color: #484345;
  
}
.card {
    border: 3px solid #977E6B;
    border-radius: 1%;

}

.card-body {
    background-color: #977E6B;
    box-shadow: 8px 8px 10px #949392;

}

.projects-css {
    background-color: #F7F8F7;

}

.card-body-project {
    background-color: #484345;
    color: #F7F8F7;
    font-size: small;
    font-weight: bold;

}

.small-cards {
    border: 3px solid #484345;
    border-radius: 3%;
    box-shadow: 10px 10px 8px #949392;

    transition: all 0.4s;

}

.small-cards:hover {
    transform: scale(1.1);

}

.btn {
    border: 0 solid transparent;
    border-radius: 3%;
    background-color: #F7F8F7;
    color: #484345;
}

.contact-page {
    background-color: #F7F8F7;
    border-top: #484345 1px solid;
    height: 45vh;
}

.contact-btn {
    width: 25vh;
    background-color: #977E6B;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    text-decoration: none;
}
.underline {
    text-decoration: none;
    color: #484345;
}

 button:hover {  /*when hovered */
    transform: translateY(-4px) translateX(-2px); /* move up and left*/
    box-shadow: 2px 5px 0 0 black; /*move down and right*/
}

button:active { /* when clicked*/
    transform: translateY(2px) translateX(1px); /* move down and right*/
    box-shadow: 0 0 0 0 black; /* move up and left*/
}

.footer {
    background-color: #484345;
    color: #F7F8F7;
    height: 5vh;
    width: 100vw;
    font-size: small;
    font-weight: bold;
}

