body {
    font-family: 'Courier New', Courier, monospace;
    color: #F8F5F6;
    background-color: #977E6B;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

span {
    color: #484345;
    /* color: #AD9EB0; */
}
.dark-on-white {
    color: #AD9EB0;
}
.navbar {
    transition: top 0.3s;
}
.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.4s;
    height: 2px;
    width: 100%;
    background-color: #4B3E3E;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.sidebar-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    background-color: #4B3E3E;
    margin: 20px 0;
}

.line {
    border-right: 2px solid #AD9EB0;
}

.test {
    display: flex;
    align-items: center;
}

.first-intro {
    font-weight: bolder;
    font-size: 15px;
}

.second-intro {
    font-weight: bolder;
    font-size: 45px;
}

.hero-paragraaf {
    font-weight: bolder;
}

.about {
    height: 75vh;
    background-color: #F7F8F7;
    color: #4B3E3E;
    font-size: small;
    font-weight: bold;
}

.skills-css {
    height: 100vh;
    background-color: #484345;
    color: #AD9EB0;
    font: small;
    font-weight: bold;
}
.card {
    border: 3px solid #977E6B;
    border-radius: 1%;

}
.card-body {
    background-color: #977E6B;
    box-shadow: 10px 10px 8px #949392;

}

.projects-css {
    background-color:#F7F8F7;
    
}
.small-cards {
    border: 3px solid #977E6B;
    border-radius: 3%;
    transition: all 0.4s;

}
.small-cards:hover {
    transform: scale(1.1);

}

